.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
}
body{
    font-family: sans-serif;
}

.fullwidth {
    grid-column: 1 / 3;
}

.checkboxes {
    /* In Firefox Dev Edition 55.0b3, this is necessary, otherwise the checkbox is not shown. */
    display: inherit;
}

.hidden {
    display: none !important;
}
#errorsymbol {
    display: inline;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
pre {
    display: inline;
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
}

.wronginput {
    color: red;
}

.match {
    background-color: yellow;
    font-weight: bold;
}

.advancedoptions {
    border: 1px solid grey;
    padding: 5px;
}

.prefixes {
    width: 50px;
}

#titleRegex {
    width: 100%;
}