@media(prefers-color-scheme: dark) {
    body {
        background-color: #2a2a2e;
        color: #f9f9fa;
    }

    input {
        background-color: #38383d;
        color: #f9f9fa;
        border: 1px solid #4a4a4f;
    }

    a {
        color: #0a84ff;
    }

    button {
        background-color: #38383d;
        color: #f9f9fa;
        border: 1px solid #4a4a4f;
    }

    button:hover {
        background-color: #4a4a4f;
    }

    .match {
        background-color: #a47f00;
    }
}

@media(prefers-color-scheme: no-preference) {
    .match {
        background-color: yellow;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: .9em;
    grid-column-gap: 2em;
}
body{
    font-family: sans-serif;
}

.fullwidth {
    grid-column: 1 / 3;
}

.checkboxes {
    /* In Firefox Dev Edition 55.0b3, this is necessary, otherwise the checkbox is not shown. */
    display: inherit;
}

.hidden {
    display: none !important;
}
#errorsymbol {
    display: inline;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
pre {
    display: inline;
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
}

.wronginput {
    color: red;
}

.match {
    font-weight: bold;
}

.advancedoptions {
    border: 1px solid grey;
    padding: 5px;
}

.prefixes {
    width: 50px;
}

#titleRegex {
    width: 100%;
}

.wrapper form:invalid button {
    pointer-events: none;
    cursor: not-allowed;
}
