:root {
    /* Variables set by javascript */
    --text-color: #000000;
    --link-color: #0000ee;
    --visited-color: #551A8B;
    --background-color: #ffffff;
    --disabled-color: #808080;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-color);
}

body {
    font-size: .9rem;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

input, textarea {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--disabled-color);
}

textarea {
    font-size: .8rem;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid var(--disabled-color);
}

.button {
    display: block;
    color: var(--text-color);
}

#toprow a:hover, button:hover {
    filter: contrast(.85);
}

#bookmarks {
    list-style-type: none;
    padding-left: 0;
    margin-left: -0.5em;
    display:table;
    border-spacing: 0.5em 0;
    border-collapse: separate;
}
#bookmarks li {
    display: table-row;
}
.invisible {
    visibility: hidden;
}

#listdiv {
    min-height: 360px;
    width: 600px;
    max-height: 480px;
    overflow: hidden; 
    overflow-y: auto;
}

#filterToRead{
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.icon {
    width: 1.5em;
    margin-top: -.25em;
    margin-bottom: -.25em;
    pointer-events: none;
}

.icon path {
    stroke: var(--text-color);
}

.shared {
    stroke-width: 1%;
    fill: var(--text-color);
}

.edit {
    width: 1.3em;
    stroke-width: 8%;
    fill: var(--background-color);
}

.toread {
    fill: var(--text-color);
    stroke-width: 1%;
}

.bold {
    font-weight: bold;
}

.unclickable {
    cursor: default !important;
}

#toprow {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-column-gap: 1.5em;
    margin-bottom: .5em;
    color: var(--text-color);
}

#toprow a, #toprow a:visited {
    text-decoration: none;
    color: var(--text-color);
    padding: .25em;
    background-color: var(--background-color);
}

.centerbuttons {
    text-align: center;

}

#optionslink {
   text-align: right;
}

#bookmarks li a {
    display: table-cell;
    cursor: pointer;
}

#editwrapper .editinput {
    width: 95%;
    margin-bottom: 10px;
}

#editwrapper textarea {
    resize: none;
}

#editcontainer {
    display:flex;
    align-items: center;
    justify-content: center;
}
#editwrapper {
    font-size: .8rem;
    margin: auto;
    top:30%;
    position:fixed;
    width: 60%;
    background-color: var(--background-color);
    border: 1px solid var(--disabled-color);
    z-index:5;
    opacity:1;
    padding:1.5em;
}

#editwrapper input[type="checkbox"] {
    display: inline;
}

#editwrapper #url {
    color: var(--disabled-color);
}

label {
    user-select: none;
    -moz-user-select: none;
}

#editwrapper button {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
#prevnext .linkdisabled {
    pointer-events: none;
    color: var(--disabled-color);
    text-decoration: none;
}
a.currentpage {
    font-weight: bold;
}
#prevnext {
    text-align: center;
    margin-top: 1em;
}

#prevnext a {
    color: var(--text-color);
}
#greyout {
    background-color: var(--background-color);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
}

#noapikey {
    text-align: center;
}

.hidden {
    display:none;
}

.resetbutton {
  border: none;
  background: transparent;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  outline:none;
  color: var(--disabled-color);
  right: 8%;
  /*top: .2em;*/
}
.search:required:invalid ~ .resetbutton {
    display: none;
}

#filter {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 91%;
}

.searchform {
    position: relative;
}

.delete {
    color: red;
}
#extended {
   width: 100%;
   height: 5em;
   font-family: sans-serif;
}

#tagsuggestions a {
    cursor: pointer;
}

a {
    text-decoration: none;
}