:root {
    /* Variables set by javascript */
    --text-color: #000000;
    --link-color: #0000ee;
    --visited-color: #551A8B;
    --background-color: #ffffff;
    --disabled-color: #808080;
}

li {
    list-style-type: none;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    background: url("../img/pinboard-icon-blue.svg") no-repeat;
    background-size: 16px 16px;
    background-position: left 50%;
    padding-left: 16px;
}
li>a{
    text-decoration: none;
}
ul {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 2em;
    overflow-y: auto;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-color);
}

body {
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}
.hidden {
    display:none;
}

#noapikey {
    z-index: 1;
}